@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}
.movie-container{
    margin: 20px 0px;
}
.movie-container select{
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}
.container{
    perspective: 1000px;
    margin-bottom: 20px;
}
.seat{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seat.selected{
    background-color: #6feaf6;
}
.seat.occupied{
    background-color: #fff;
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.show-case.seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.show-case{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.1);
    color: #777;
    border-radius: 5px;
    list-style-type: none;
}
.show-case li{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0px 10px; 
}
.show-case li small{
    margin-left: 3px;
}
.row{
    display: flex;
}
.screen{
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0px;
    transform: rotateX(-45deg);
    box-shadow: 0px 3px 10px rgba(255,255,255,0.7);
}
p.text{
    margin: 5px 0px;
}
p.text span{
    color: #6feaf6;
}